<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>all</h2>
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => {%>
          <a class="blog" href="/blogs/<%=blog.id%>" style="color:black;text-decoration: none;">  <h3><%= blog.title %></h3>
            <p><%= blog.body %></p>
        </a>
        <% }) %>
        <% }else{ %>
            <p>no blogs</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>

</body>
</html>